html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

#navbar {
    width: 100%;
    height: 55px;
    position: relative;
    background-color: white;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    z-index: 9;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #graph-summary {
        margin-right: 20px;
        color: #666;
        display: flex;
        font-size: 15px;
        text-align: left;

        label {
            display: block;
            margin: 0;
            padding: 0px 5px;
        }
    }
}

#logo-wrapper {
    display: flex;
    align-items: center;

    #logo {
        float: left;
        height: 38px;
        margin-left: 25px;
    }

    h3 {
        float: left;
        margin-left: 15px;
        color: rgb(0, 86, 156);
    }
}

#container {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ecf0f1;
    position: relative;
}

#zoom-buttons {
    background-color: #d3d3d3;
    box-shadow: 0 .3rem .50rem rgba(0, 0, 0, .1);
    border-radius: 4px;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 92px;
    outline: none;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    
    button {
        width: 30px;
        height: 30px;
        display: block;
        float: left;
        font-size: 16px;
        background-color: white;
        border: 0;
        cursor: pointer;
        outline: none;
        color: #666;
        font-weight: bold;
        border-radius: 2px;

        &:hover {
            background-color: rgba(66, 66, 66, 0.007);
        }

        &:active {
            background-color: rgba(66, 66, 66, 0.09);
        }
    }
}

.sh-box {
    border-radius: 4px;
    box-shadow: 0 .3rem .50rem rgba(0, 0, 0, .1);
}

#left-side-panel,
#right-side-panel,
#right-side-link-panel {
    position: absolute;
    width: 200px;
    height: 250px;
    -webkit-transition: width 0.5s, height 0.5s;
    transition: width 0.5s, height 0.5s;
    padding: 10px 15px;
    background-color: #fff;
    top: 25px;
    left: 25px;
    text-align: left;
    overflow: hidden;

    #toggle-left-side-panel {
        border: 0;
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;
        float: right;
        outline: none;
        margin-top: -4px;
        color: #2980b9;
    }

    h3 {
        color: #2980b9;
        padding: 0;
        margin: 5px 0 14px 0;
    }

    span.cat {
        font-size: 15px;
        display: block;
        margin: 0 0 11px 0;
        padding: 0 0 6px 0;
        border-bottom: 1px solid rgb(148, 148, 148);
        color: #34495e;
    }

}

#left-side-panel {
    label.container {
        margin-bottom: 10px;
    }
}

#node-summary {
    position: absolute;
    display: none;
    background-color: white;
    width: 200px;
    padding: 10px;
    height: auto;
    text-align: left;

    div.field-row {
        font-size: 13px;
    }

    h3 {
        color: #2980b9;
        padding: 0;
        margin: 5px 0 14px 0;
        font-size: 16px;
    }
}

#check-hide-labels {
    border: 0;
    padding: 5px 12px;
    color: #444;
    border-radius: 2px;
}

#right-side-panel,
#right-side-link-panel {
    left: auto;
    top: 55px;
    right: 15px;
    width: 215px;
    height: 385px;
    display: none;

    h3 {
        padding-bottom: 6px;
        border-bottom: 1px solid #2980b9;
    }

    #node-fields,
    #link-fields {
        display: block;
        float: left;
    }
}

#right-side-link-panel {
    top: 470px;
    height: auto;
}

div.field-row {
    display: block;
    padding: 7px 0;
    color: #444;
    width: 100%;
    float: left;
    font-size: 14px;

    span {
        display: block;
        float: left;
    }

    span:first-child {
        width: 80px;
        font-weight: bold;
    }
}

.container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;
    color: #2c3e50;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn {
    border: 1px solid rgb(211, 211, 211);
    outline: none;
    border-radius: 2px;
    padding: 5px 8px;
    color: #2196F3;
    background-color: white;
    cursor: pointer;

    &:hover {
        background-color: rgba(32, 32, 32, 0.055);
    }

    &:active {
        background-color: rgb(211, 211, 211);
    }
}

svg {
    cursor: move;
}

.node {
    cursor: pointer;
}

.link:hover {
    stroke: #3498db !important;
}

.link {
    cursor: pointer;
    stroke: #999;
    stroke-opacity: .3;
}